.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;

    &__label {
        padding: 2px;
    }

    &__textbox {
        border: 0;
        border-bottom: 2px solid grey;
        outline: 0;
        padding: 2px;
    }
}