.container {
    &__main {
        &header {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            height: 100px;
            text-align: center;
            padding: 20px;
            background-color: #80ccff;
        }

        &content {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
        }
    }
}